<span ng-hide="currentUser">
  <div class="jumbotron">
  <h1>Overwatch Team Maker</h1>
  <h2>Create and take part in custom team compositions to help organize your squad and rise through the ranks! Add your friends, try out new combinations, see what other people are playing.</h2>
  <h3>
    <a href="#register" class="btn btn-success">Sign Up Today!</a>
    <i>"The world could always use more heroes."</i>
  </h3>
  <img src="images/overwatch.jpg" />
</div>
</span>

<span ng-show="currentUser">

<div class="jumbotron">
  <h1>Welcome {{currentUser.username}}!</h1>
</div>

<span class="row" ng-hide="currentUser.roles.indexOf('coach') != -1">
  <a class="btn btn-success btn-block" href="#search">Search Team Compositions</a>
  <a class="btn btn-primary btn-block" href="#profile">Edit Profile</a>
  <a class="btn btn-danger btn-block" ng-click="logout()" href="#logout">Logout</a>
</span>

<span class="row" ng-show="currentUser.roles.indexOf('coach') != -1">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h2>Your Teams</h2>
    </div>
    <div class="panel-body">
      <div class="col-xs-5 col-xs-offset-1 teamBlocks" ng-repeat="team in model.teams">
        <a href="#/{{team.coach}}/team/{{team._id}}">
          <div class="row panel panel-primary">
            <div class="panel-heading">
              <h3>{{team.name}}</h3>
              <p>{{team.description}}</p>
            </div>
            <div class="panel-body">
              <div ng-repeat="player in team.players">
                <p>{{ player.player }} as {{ player.hero }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <a class="btn btn-success btn-block btn-space" href="#/{{currentUser._id}}/team/new">Create New Team</a>
</span>

</span>